gunicorn

Flask
Flask-CORS
flask-reverse-proxy-fix
flask-smorest==0.40.0
Flask-dotenv
Flask-sqlalchemy
marshmallow
marshmallow_dataclass[enum]
marshmallow_enum
colorama
structlog
python-dotenv

SQLAlchemy
psycopg2-binary
sqlalchemy-utils

requests

# Development dependencies
mypy
pylint-flask
pip-tools
black
flake8
